:root>* {
  --md-primary-fg-color: #8573ff;
  --md-primary-fg-color--light: #e7cdb3;
  --md-primary-fg-color--dark: #994f04;
}


@media screen and (min-width: 76.25em) {
  [dir=ltr] .md-nav--integrated>.md-nav__list>.md-nav__item--active .md-nav--secondary {
    border-left: none;
  }
}

div.md-sidebar.md-sidebar--primary > .md-sidebar__scrollwrap{
  margin-right: 30px;
  margin-left: 50px;
}

img.float-left {
  margin: 0 0.5rem 0.5rem 0;
  float: left;
}

img.float-right {
  margin: 0 0 0.5rem 0.5rem;
  float: right;
}

img.align-center {
  display: block;
  margin: auto;
}
