:root>* {
  --md-primary-fg-color: #8573ff;
  --md-primary-fg-color--light: #e7cdb3;
  --md-primary-fg-color--dark: #994f04;
}


@media screen and (min-width: 76.25em) {
  [dir=ltr] .md-nav--integrated>.md-nav__list>.md-nav__item--active .md-nav--secondary {
    border-left: none;
  }
}
